body {
  margin: 0;  
  background-color: white;
  font-family: 'Dosis', sans-serif;
}

.navigationBar {
  overflow: hidden;
  background-color: black;
  text-align: center;
}

.navigationBar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigationBar a:hover {
  background-color: crimson;
  color: black;
}

.navigationBar a.active {
  background-color: crimson;
  color: black;
}
#topBackground {
  background-color: black;
}

.photoHome {
  background-image: url(../img/sustainable_africa_6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  border-radius: 0.3mm;
  width: 100%;
  
}
.photoHomeTitle{
  color: white;
  font-family: 'Paprika', cursive;
  font-size: 430%;
  background-color: red;
  opacity: 0.7;
  text-align: left;
  
}
.photoHome #photoHomeTint {
  
  width: 100%;
  height: 10%;
  padding-bottom: 15px;
  color: white;
  text-align: left;
}
.slogan {
  text-align: center;
  background-color: white;
  color: crimson;
  
}
#aboutUs {
  text-align: center;
  background-color: white;
  color: black;
}
.title {
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
  color: crimson;
  text-align: center;
}
#aboutUs p, #vision p, #mission p{
  font-size: 150%;
}
.container {
  text-align: center;
}
.footer {
  background-color: black;
}
a {
  color: white;
}
a:hover {
  color: crimson;
  text-decoration: underline;
}
.btn-primary {
  color: white;
  background-color: black;
  border-color:black;
}
.btn-primary:hover {
  color: white;
  background-color: black;
  border-color: black;
}
.container-fluid {
  height: 300%;
}
.buttons{
  text-align: center;
}
.contacts {
  color: white;
}
.bePart{
  background-image: url(../img/girls_population_health_091018.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.bePartText{
  color: white;
  font-family: 'Paprika', sans-serif;
  font-size: 500%;
  background-color:black;
  opacity: 0.7;
  text-align: center;
  height: 100%;
}
img{
  padding: 15px;
}
.col-md-6 {
  text-align: center;
}
.col-md-6 p {
  font-size: 130%;
}
.col-md-6 h4 {
  text-decoration: underline;
  cursor: pointer;
}
.donateClothes, .donateMoney{
  cursor: pointer;
}
h1 .to{
  text-decoration: none;

}
#submit-vol {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-right: -125px; /* Divide value of min-width by 2 */
  background-color: crimson; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 0%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
#submit-vol.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5.0s;
  animation: fadein 0.5s, fadeout 0.5s 5.0s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#sign-up {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-right: -125px; /* Divide value of min-width by 2 */
  background-color: crimson; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 70%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
#sign-up.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5.0s;
  animation: fadein 0.5s, fadeout 0.5s 5.0s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
h5 a{
  color: black;
}
#mpesa {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-right: -125px; /* Divide value of min-width by 2 */
  background-color: crimson; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 40%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
#mpesa.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5.0s;
  animation: fadein 0.5s, fadeout 0.5s 5.0s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.donateClothesText, .donateMoneyText {
  display: none;
}